<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Cadastro de endereço</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/endereco.css'>
    <script src='../script/enderco.js'></script>
</head>
<body class="bg">
    <a class="voltar" href="index.html">Voltar</a>
    
    <div class="tudo">
        <div class="title">
            <h1>Cadastro de endereço</h1>
        </div>
            <form class="label">
            
                <input type="text" name="titulo" id="title" placeholder="Título"/><br/>
            
            
                <input type="text" name="cep" id="cep" placeholder="CEP"/><br/>

            
                <input type="text" name="endereco" id="andress" placeholder="Endereço"/><br/>

            
                <input type="number" name="numero" id="number" placeholder="Número"/><br/>

            
                <input type="text" name="complemento" id="complement" placeholder="Complemento"/><br/>

                <input class="bt" type="button" value="Cadastrar" onclick="cadastrarend()"/>

            </form>
    </div>    

</body>
</html>