<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../css/home.css'>
    <title>Pagina Space Pizza</title>
</head>
<body>
    <header class="header">
        <img src="img/bd055ce33f11dc9ab6cb7635aff8db2a-removebg-preview.png" alt title style="height: 5.8rem;">
        <ul class = menu>
            <li><a href="endereco.html">Cadastrar endereço</a></li>
            <li><a href="">Contato</a></li>
        </ul>
    </header>
    <h2>As mais vendidas!</h2>
    <section class="cardapio">
        <div>
            <h4>Estrela de Muçarela</h4>
            <p>Molho de tomate de Marte, muçarela lunar e poeira de orégano espacial.</p>
            </br>
            <p>R$ 105,99</p>
            <img src="./img/mussarela.jpg" alt="">
        </div>
        <div>
            <h4>Anéis de Calabresa</h4>
            <p>Molho de tomate de Saturno, calabresa artesanal em anéis, meteoros de cebola e asteroides de azeitonas.</p>
            </br>
            <p>R$ 117,00</p>
            <img src="./img/calabresa.jpg" alt="">
        </div>
        <div>
            <h4>Nebulosa Portuguesa</h4>
            <p>Molho de tomate de Vênus, muçarela estelar, presunto espacial, ovos cósmicos, nebulosa de cebola e azeitonas orbitais.</p>
            </br>
            <p>R$ 119,00</p>
            <img src="./img/Portuguesa.jpg" alt="">
        </div>
        <div>
            <h4>Cometa Napolitano</h4>
            <p>Molho de tomate de Júpiter, alho fatiado intergaláctico, parmesão cometas e folhas de manjericão flutuantes.</p>
            </br>
            <p>R$ 99,00</p>
            <img src="./img/napolitana.jpg" alt="">
        </div>
        <div>
            <h4>Catupiry Cósmico</h4>
            <p>Molho de tomate de Saturno, queijo Catupiry interestelar e orégano espacial.</p>
            </br>
            <p>R$ 108,00</p>
            <img src="./img/catupiry.jpg" alt="">
        </div>
        <div>
            <h4>Aliche Estelar</h4>
            <p>Filés de aliche italiano orbitando em nosso molho de tomate de Marte.</p>
            </br>
            <p>R$ 125,00</p>
            <img src="./img/aliche.jpg" alt="">
        </div>
        <div>
            <h4>Romana Galáctica</h4>
            <p>Molho de tomate de Júpiter, muçarela sideral e filés de aliche italiano.</p>
            </br>
            <p>R$ 130,00</p>
            <img src="./img/romana.jpg" alt="">
        </div>
        <div>
            <h4>Atum Interplanetário</h4>
            <p>Molho de tomate de Vênus, atum espacial e anéis de cebola cósmica.</p>
            </br>
            <p>R$ 115,00</p>
            <img src="./img/atum.jpg" alt="">
        </div>

    </section>
    
</body>
</html>