<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../css/index.css'>
    <script src='../script/index.js'></script>
    <title>Pizzaria</title>
</head>
<body>
    <img src="img/bd055ce33f11dc9ab6cb7635aff8db2a-removebg-preview.png" alt title style="height: 5.8rem;">
    <main>
        <h1>Space Pizza</h1>
        <h2 class="hp">Space Pizza: Uma Viagem Gastronômica Entre as Estrelas</h2>
        <p class="hp">Bem-vindo à Space Pizzaria!<br/>
            O restaurante mais inovador e divertido do universo!<br/>
            Localizada no coração da galáxia<br/>A nossa pizzaria oferece uma experiência única<br/>
            saborear deliciosas pizzas enquanto você contempla o brilho das estrelas<br/> e a imensidão
            do cosmos.</p>
        
    </main>
        <a class="bc" href="cadastro.html">Cadastre-se</a>
        <a class="bl" href="login.html">Login</a>

</body>
</html>